body {
    background-image: url(../img/pattern.jpg);
    margin: 0px;
}

header {
    background-color: white;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    position: fixed;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    padding-right: 10px;
}

a {
    text-decoration: none;
}

section {
    background-color: white;
    margin-left: 235px;
    margin-right: 235px;
    margin-top: 100px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

section h1 {
    text-align: center;
}

#article-list {
    padding: 5px 20px 5px 20px;

}

article {
    border-bottom: 5px solid black;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    background-color: black;
}

footer h5 {
    color: white;
    padding: 10px;
    text-align: center;
}